@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
    font-family: 'Your Font Name';
    src: url('../fonts/yourfontname/yourfontname-roman.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Your Font Name';
    src: url('../fonts/yourfontname/yourfontname-italic.woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}



/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255,255,255,1);
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);
  /* Font values */
  --font-text: 'Your Font Name', 'Helvetica', 'Arial', sans-serif;
  --font-size: 24px;
  /* Margin values */
  --margin: 1rem;


  /* Examples of possible variables */

  --font-size-heading: calc(var(--font-size) * 2);
  --font-size-subheading: calc(var(--font-size) * 1.25);
  --font-size-caption: calc(var(--font-size) * 0.875);

  --margin-xs: calc(var(--margin) * 0.5);
  --margin-s: calc(var(--margin) * 1);
  --margin-m: calc(var(--margin) * 2);
  --margin-l: calc(var(--margin) * 3);
  --margin-xl: calc(var(--margin) * 5);

}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
  
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
  font-size: 10pt;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}


p{
text-align: justify;
width: 80%;
max-width: 700px;
margin: 0 auto;
color: white;
text-shadow: 2px 2px 5px black;
margin-bottom: 1.5em;
hyphens: auto;

}

@media (max-width: 600px) {
  p {
    max-width: 90%;   /* or 100% */
  }
}

h1{
  /* h1 style */
  font-size: clamp(
    var(--font-size-heading),
    4vw,
    calc(var(--font-size-heading) * 1.25)
  );
  text-align: center;
  text-shadow: 0px 0px 15px white;
}

h2{
  font-size: clamp(
    var(--font-size-heading),
    4vw,
    calc(var(--font-size-heading) * 1.25)
  );
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}

h3{
  font-size: clamp(
    var(--font-size-subheading),
    3vw,
    calc(var(--font-size-subheading) * 1.2)
  );

  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;

  margin-top: var(--margin-m);
  margin-bottom: var(--margin-s);
}

h4{
  font-size: clamp(
    var(--font-size-subheading),
    3vw,
    calc(var(--font-size-subheading) * 1.2)
  );

  hyphens: auto;
  color: white;
text-shadow: 2px 2px 5px black;
margin-bottom: 1.5em;
hyphens: auto;

}

h5{
  text-align: justify;
width: 80%;
max-width: 700px;
margin: 0 auto;
color: black;
text-shadow: 2px 2px 5px black;
margin-bottom: 1.5em;
hyphens: auto;

}

@media (max-width: 600px) {
  p {
    max-width: 90%;   /* or 100% */
  }
}

h4, h5, h6{
  /* h4-h5-h6 style */
}

p{
  /* paragraph style */
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
}

/* navigation */
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  width: 100%;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

header {
  position: relative;
  text-align: center;
  padding-bottom: 100px;
  
}

.container {
  position: relative;
  text-align: center;
  color: black;
  bottom: 100px;
}

.centered {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-fade{
  width: 100%;
  display: block;

-webkit-mask-image: linear-gradient(
  to bottom,
  black 0%,
  black 75%,
  transparent 100%
);

mask-image: linear-gradient(
  to bottom,
  black 0%,
  black 75%,
  transparent 100%
);

}



.img-content {
  position: relative;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  padding: 2em 0;
  z-index: 1;
}

.img-content img {
  width: 90%;        /* matches text behavior */
  max-width: 600px;  /* same readable width as text */
  height: auto;

  display: block;
  margin: 2em auto;  /* space + center */
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(71, 71, 71, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  padding: 2em 0;
  z-index: 2;
}

.overlay-content img {
  width: 90%;        /* matches text behavior */
  max-width: 600px;  /* same readable width as text */
  height: auto;

  display: block;
  margin: 2em auto;  /* space + center */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: sticky;
  top: 20px;
  font-size: 60px;

  margin-left: auto;
  margin-right: 45px;
  width: fit-content;

  z-index: 10;
}


.image-fade {
  margin-top: -80px; /* overlap images */
  position: relative;
}

.image-fade img {
  transition: opacity 0.8s ease;
  cursor: pointer;
}

.image-fade img:hover {
  opacity: 0.6;
}

.image-fade:first-child {
  margin-top: 0;
}

.image-fade img {
  width: 100%;
  display: block;

/* fade top and bottom */
-webkit-mask-image: linear-gradient(
  to bottom,
  transparent 0%,
  black 15%,
  black 85%,
  transparent 100%
);

mask-image: linear-gradient(
  to bottom,
  transparent 0%,
  black 15%,
  black 85%,
  transparent 100%
);
}

/* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(
    var(--font-size-heading),
    4vw,
    calc(var(--font-size-heading) * 1.25)
  );
  color: white;
  text-shadow: 0px 2px 5px black, 0px 2px 10px green;
}



/* gradient fade */
/*
.image-fade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* controls fade size */
  /*
  background: linear-gradient(to bottom, rgba(255,255,255,0), white);
  pointer-events: none;
}
*/



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



nav{
  
}

/* content */

main{
 
}

summary{
  
}






/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* responsive typeface for various breaking points, sets the default 'rem' value */
@media (max-width: 299px) { :root{--font-size: 18px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 299px) and (max-width: 340px) { :root{--font-size: 19px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 340px) and (max-width: 440px) { :root{--font-size: 20px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 441px) and (max-width: 779px) { :root{--font-size: 19px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 780px) and (max-width: 992px) { :root{--font-size: 20px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 993px) and (max-width: 1200px) { :root{--font-size: 21px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 1201px) and (max-width: 1320px) { :root{--font-size: 22px;} html, body {font: var(--font-size) var(--font-text); } }
@media (min-width: 1321px) { :root{--font-size: 24px;} html, body {font: var(--font-size) var(--font-text); } }

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */



  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


